.section {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    max-width: 600px;
}

.elements {
    display: grid;
    gap: 16px;
    grid-template-rows: 80px;
    margin-left: 32px;
    box-sizing: border-box;
    justify-items: right;
}

.variables {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 450px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 8px;
    padding-left: 16px;
}

.variables::-webkit-scrollbar {
    width: 8px;
}
.variables::-webkit-scrollbar-track {
    background: #2F2F37;
}
.variables::-webkit-scrollbar-thumb {
    background-color: #4C4CFF;
    border: 8px solid #4C4CFF;
}

.element {
    display: flex;
    flex-direction: row;
}

.img {
    margin-right: 8px;
}

.total {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 52px;
    justify-content: right;
    align-items: center;
}

.totalprice {
    margin-right: 40px;
}