* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding: 0;
    align-items: center;
    margin: 0 auto;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
